- name: Check if Brewfile exists
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/Brewfile"
  register: brewfile_exists
  tags:
    - brew
    - mac-setup

- name: Install packages from Brewfile
  ansible.builtin.shell: |
    brew bundle install --file={{ playbook_dir }}/Brewfile
  args:
    chdir: "{{ playbook_dir }}"
    executable: /bin/zsh
  when:
    - brewfile_exists.stat.exists
  tags:
    - brew
    - mac-setup
  register: brew_bundle_result
  changed_when: 
    - brew_bundle_result.rc == 0
    - ("Installing" in brew_bundle_result.stdout or 
       "Upgrading" in brew_bundle_result.stdout or
       "Using" in brew_bundle_result.stdout)
  failed_when: brew_bundle_result.rc != 0
