# Mac Setup - Configuration tasks only
# Brew packages are now installed via Brewfile (tasks/brew-bundle.yml)

- name: Check if python version is installed
  ansible.builtin.stat:
    path: '{{ home }}/.pyenv/versions/{{ python_version }}'
  register: python_version_exists
  tags:
    - mac-setup

- name: Install python version
  ansible.builtin.shell: 'pyenv install {{ python_version }}'
  when:
    - ansible_distribution == 'MacOSX'
    - not python_version_exists.stat.exists
  tags:
    - mac-setup

# if you need to enable globally do:
# defaults write -g ApplePressAndHoldEnabled -bool false
- name: Install VSCode - allow key repeat
  ansible.builtin.command: 'defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false'
  tags:
    - mac-setup

- name: Install sketchybar-app-font
  ansible.builtin.get_url:
    url: https://github.com/kvndrsslr/sketchybar-app-font/releases/download/v1.0.17/sketchybar-app-font.ttf
    # dest: '{{ home }}/Library/Fonts'
    dest: '/Library/Fonts'
  tags:
    - mac-setup
